#SMP_STYLE.toggle_box{
    display:none;
    color:#fff;
    background-color:#f26c4f;
    padding:20px;
    margin-top:20px;
}
.btn{
    background-color:#dddddd;
    padding:10px;
}
.btn.active{
    background-color:#1b325f;
    padding:10px;
    color:#fff;
}
.btn:hover{
    cursor:pointer;
}
.box{
    background-color:#132343;
    width:100%;
    height:20px;
    margin-top:20px;
    margin-bottom:20px;
}
